.btn-edit {
    width: 50px;
    border: none;
    background: transparent;
    outline: none;
    color: orange;
    cursor: pointer;

    &:hover {
        background-color: transparent !important;
        color: orange !important;
    }
}

.btn-delete {
    width: 50px;
    border: none;
    background: transparent;
    outline: none;
    color: red;
    cursor: pointer;

    &:hover {
        background-color: transparent !important;
        color: red !important;
    }
}

.user-modal {
    .user-modal-body {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        .input-container {
            display: flex;
            flex-direction: column;
            width: 48%;

            &.max-width-input {
                width: 100%;
            }

            input {
                border-radius: 3px;
                border: 1px solid gray;
                height: 30px;
                outline: none;
                padding: 0 10px;
            }
        }
    }

}